<div class="panel panel-default" style="width: 38rem">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a class="btn btn-success pull-right">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <cms-documents-item
      *ngFor="let documentElement of documents"
      [document]="documentElement"
      (click)="onSelectedDocument(documentElement)"></cms-documents-item>
    </div>
  </div>

</div>
