<div class="panel panel-default">
  <div class="panel-body">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="document-edit">
      <div class="row">

        <div class="col-sm-12 form-group">
          <label for="name">Document title</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            [ngModel]="document?.name"
            required
            #name="ngModel"
            size="120"
            max="120">
        </div>

        <div class="col-sm-12 form-group">
          <label for="description">Document description</label>
          <input
            type="text"
            id="description"
            class="form-control"
            name="description"
            [ngModel]="document?.description"
            size="120"
            max="255">
        </div>

        <div class="col-sm-12 form-group">
          <label for="documentUrl">Document URL</label>
          <input
            type="text"
            id="documentUrl"
            class="form-control"
            name="documentURL"
            [ngModel]="document?.url"
            required
            #documentURL="ngModel"
            size="150"
            max="255">
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="!name.valid || !documentURL.valid">
        The Document title and URL are required fields.
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!name.valid || !documentURL.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>

