<nav class = "panel panel-default">
  <div class = "panel-heading pad-all">
  <div class = "container-fluid pad-all">
    <div class = "pad-left-right">
      <a href = "#" >
        <div class="pull-right">
          <button class = "btn btn-primary">Edit</button>
            <button class = "btn btn-danger">Delete</button>
        </div>
      </a>
    </div>
  </div>
  </div>

<nav class="panel panel-body">
  <div class="container-fluid">
      <h4>Email: </h4>
      <h4>Phone: </h4>
  </div>
</nav>
</nav>
