<nav class = "panel panel-default">
  <div class = "panel-heading pad-all">
  <div class = "container-fluid pad-all">
    <h2>{{ contact.name }}</h2>
    <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 200px" >
    <div class = "pad-left-right">
      <a>
        <div class="pull-right">
          <a routerLink='edit' class = "btn btn-primary">Edit</a>
            <a (click)="onDeleteContact()" class = "btn btn-danger">Delete</a>
        </div>
      </a>
    </div>
  </div>
  </div>

<nav class="panel panel-body">
  <div class="container-fluid">
      <h4>Email: {{ contact.email }}</h4>
      <h4>Phone: {{ contact.phone }} </h4>
  </div>
</nav>
</nav>
